{% extends 'global/base.html' %}


{% block content %}

    <section class="section-termux">
        <div class="main-termux">
            <div class="text-top">
                <h1>Complete os campos abaixo para realizar o pagamento:</h1>
            </div>
            <div class="formulario">
                <h1>Seu nome</h1>
                <input type="text">
                <h1>Seu e-mail</h1>
                <input type="text">
                <div class="btn-formulario">
                    <a href="{% url 'verificacao_termux' %}">Continuar</a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}