{% extends 'global/base.html' %}
{% load static %}

{% block content %}

    <section class="section-verificacao-ferramentas">
        <div class="main-verificacao-ferramentas">
            <div class="text-top">
                <h1>Prepare seu celular!</h1>
            </div>
            <div class="pagamento">
                <img src="{% static 'global/img/qr.png' %}" alt="qr-code">
                <br><br>
                <input class="input-pix" id="meuInput" type="text" value="00020126580014BR.GOV.BCB.PIX0136146dfc2f-a52b-4566-83db-773092447aca520400005303986540519.805802BR5921Sergio Da Silva Faxas6009SAO PAULO61080540900062120508blackout63048041">
                <button class="btn-copy" onclick="copiarTexto()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-back" viewBox="0 0 16 16">
                        <path d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
                      </svg>
                </button>
                <div class="btn-pix">
                    <a href="{% url 'obrigado_ferramentas' %}">Continuar</a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}